
<p id="notice"><%= notice %></p>

<h1>Blog Entries</h1>


<div class="container-fluid">
  <div class="entry">
    <% @blog_entries.each do |blog_entry|%>
      <div class="complete_entry">
        <h1><%= blog_entry.title %></h1>
        <h3><%= blog_entry.subtitle %></h3>
        <p><%= blog_entry.date %></p>
        <p><%= blog_entry.body %></p>
      </div>



<p><%= link_to 'Show', blog_entry %>
<%= link_to 'Edit', edit_blog_entry_path(blog_entry) %>
<%= link_to 'Destroy', blog_entry, method: :delete, data: { confirm: 'Are you sure?' } %></p>


      
    <% end %>
  </div>
    
      
</div>

<%= link_to 'New Blog entry', new_blog_entry_path %>
