<p id="notice"><%= notice %></p>

<div class="complete_entry">
  <h1>
    <strong>Title:</strong>
    <%= @blog_entry.title %>
  </h1>

  <h3>
    <strong>Subtitle:</strong>
    <%= @blog_entry.subtitle %>
  </h3>
  
  <p>
    <strong>Date:</strong>
    <%= @blog_entry.date %>
  </p>
  
  <p>
    Body:
    <%= @blog_entry.body %>
  </p>

</div>


<%= link_to 'Edit', edit_blog_entry_path(@blog_entry) %> |
<%= link_to 'Back', blog_entries_path %>
