<!DOCTYPE html>
<html>
<head>
  
  <title>Workspace</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Damage and Dolls</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%=link_to"home", blog_entries_path%></li>
      <li><%=link_to"ask for a rant, i've got an opinion", static_pages_contact_path%></li> 
    </ul>
  </div>
</nav>

<%= yield %>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Damage & Dolls blog est 2014</p>
  </div>
</footer>

</body>
</html>
